@model IEnumerable<InmobiliariaSoazo.Models.Pagos>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Crear">Agregar nuevo contrato. </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Datos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
               
                @(item.Datos.IdInquilino +"  "+ item.Datos.Locatario.Nombre + " " + item.Datos.Locatario.Apellido)
            </td>

            <td>

                @Html.ActionLink("Detalles", "Detalles", new { id = item.IdContrato })

                @Html.ActionLink("Editar", "Editar", new { id = item.IdContrato })

                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdContrato })

            </td>

        </tr>
}
    </tbody>
</table>
